<h3 mat-dialog-title>
  {{ title }}
  <button class="close-button" mat-dialog-close mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</h3>
<div mat-dialog-content>
  <form [formGroup]="authForm" (ngSubmit)="submitForm()">
    <div mat-dialog-content>
      <table cellspacing="0" class="auth-form">
        <tr *ngIf="authType === 'logup'">
          <td>
            <mat-form-field class="order-form-name" color="accent">
              <input matInput placeholder="Ім'я" formControlName="name" required autofocus>
              <mat-error *ngIf="name.errors?.required">Введіть ім'я.</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="order-form-surname" color="accent">
              <input matInput placeholder="Прізвище" formControlName="surname" required>
              <mat-error *ngIf="surname.errors?.required">Введіть прізвище.</mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td *ngIf="authType === 'logup'">
            <mat-form-field class="order-form-phone-number" color="accent">
              <input matInput placeholder="Номер телефону" formControlName="phoneNumber" required>
              <mat-error *ngIf="phoneNumber.errors?.required">Введіть номер телефону.</mat-error>
              <mat-error *ngIf="phoneNumber.errors?.pattern">Телефон вказаний невірно.</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="order-form-email" color="accent" [class.full-width]="authType === 'login'" autofocus>
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="email.errors?.required">Введіть email.</mat-error>
              <mat-error *ngIf="email.errors?.pattern">Email вказаний невірно.</mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="order-form-password" color="accent" [class.full-width]="authType === 'login'">
              <input matInput type="password" placeholder="Пароль" formControlName="password" required>
              <mat-error *ngIf="password.errors?.required">Введіть пароль.</mat-error>
              <mat-error *ngIf="password.errors?.minLength">Пароль надто короткий.</mat-error>
            </mat-form-field>
          </td>
          <td *ngIf="authType === 'logup'">
            <mat-form-field class="order-form-passwordRepeat" color="accent">
              <input matInput type="password" placeholder="Повторіть пароль" formControlName="passwordRepeat" required>
              <mat-error *ngIf="passwordRepeat.errors?.required">Повторіть пароль.</mat-error>
              <mat-error *ngIf="passwordRepeat.value != password.value">Паролі не співпадають.</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
    <div class="auth-actions">
      <a *ngIf="authType === 'login'" (click)="changeAuthType()">Бажаєте зареєеструватись?</a>
      <a *ngIf="authType === 'logup'" (click)="changeAuthType()">Вже маєте свій профіль?</a>
    </div>
    <div mat-dialog-actions class="auth-actions">
      <button mat-button type="reset">Очистити</button>
      <button mat-button type="submit" [disabled]="authForm.invalid">Підтвердити</button>
    </div>
  </form>
</div>
