
h3 {
  position: relative;
}

.auth-form {
  width: 100%;
}

.close-button {
  position: absolute;
  top: -22px;
  right: -20px;
}

.mat-dialog-content {
  overflow: visible;
}

.auth-actions {
  display: flex;
  justify-content: center;

  a {
    margin-bottom: -10px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
  }
}

.full-width {
  width: 100%;
}
