
.cart-container {
  display: inline-block;
  position: relative;
  z-index: 2;
  transition: all 300ms ease-in-out;
  color: #111;
}

.cart-button {
  transition: all 300ms ease-in-out;
}

.cart-fill {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 11px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  transition: all 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background-color: #69f0ae;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  overflow: hidden;

  & mat-list, .cart-fill-footer {
    display: none;
  }

  &.expanded {
    border-radius: 5px;
    height: auto;
    width: 390px;

    & mat-list {
      display: block;
    }

    & .cart-fill-footer {
      display: flex;
    }
  }

  &-title {
    display: flex;
    justify-content: space-between;
    margin: 16px;
    margin-right: 55px;
  }

  &-close-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  & .mat-list-item {
    height: 90px;
    color: inherit;
  }

  .mat-divider {
    border-top-color: rgba(0, 0, 0, 0.12);
  }

  &-item {
    &-img {
      height: 100%;
      width: auto;
    }

    &-title {
      font-size: 17px;
    }

    &-info {
      text-transform: none;
      text-align: center;
      font-size: 12px;
    }

    &-right {
      display: flex;
      align-items: center;
    }

    &-count-controllers, &-text {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  &-footer {
    justify-content: center;
    padding: 20px 0;
  }
}

.hidden {
  transform: scale(0);
  & .mat-icon {
    display: none;
  }
}

@keyframes reflect {
  0% {transform: scale(1)}
  50% {transform: scale(1.11)}
  100% {transform: scale(1)}
}

.plopAnim {
  animation: reflect 0.4s ease-in-out;
}
