<div class="cart-container"
     [class.hidden]="numProducts === 0">
  <div class="cart-fill"
       [class.expanded]="expanded"
       [style.height]="expanded ? expandedHeight : ''"
  >
    <mat-list>
      <h3 class="cart-fill-title">
        <span>Корзина</span>
        <span>{{cartTotal}} грн. </span>
      </h3>
      <button class="cart-fill-close-button"
              (click)="onCartClick()"
              matTooltip="сховати"
              mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
      <mat-divider></mat-divider>
      <div *ngFor="let product of products">
        <mat-list-item>
          <button mat-icon-button
                  matTooltip="видалити"
                  (click)="deleteProduct(product)">
            <mat-icon>remove</mat-icon>
          </button>
          <img class="cart-fill-item-img" [src]="product.product.img">
          <div class="cart-fill-item-text">
            <span class="cart-fill-item-title">{{product.product.name}}</span>
            <span class="cart-fill-item-info">{{product.product.capacity}}мл. {{product.product.price}}грн.</span>
          </div>
          <div class="cart-fill-item-right">
            <span class="cart-fill-item-count-controllers">
              <button mat-icon-button (click)="countUp(product)">
                <mat-icon>arrow_drop_up</mat-icon>
              </button>
              <button mat-icon-button (click)="countDown(product)">
                <mat-icon>arrow_drop_down</mat-icon>
              </button>
            </span>
            <span> {{product.count}} </span>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
    <mat-divider></mat-divider>
    <div class="cart-fill-footer">
      <button mat-raised-button (click)="makeOrder()">Купити</button>
    </div>
  </div>
  <button class="cart-button"
          [class.plopAnim]="!expanded && productAdded"
          [class.hidden]="expanded"
          [matBadgeHidden]="expanded"
          mat-mini-fab
          [matBadge]="numProducts"
          matBadgePosition="below after"
          (click)="onCartClick()"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>

</div>
