$text-color: #ccc;



.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $text-color;
  padding: 40px 80px;

  &-container {
    background: url('/assets/home-page/footer_bg.png');
  }

  &-info, &-popular, &-social {
    max-width: 33%;
    width: 30%;
  }

  &-info {
    padding-left: 10px;

    &-contacts {
      display: flex;
      flex-flow: column wrap;
    }
  }

  &-popular {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    &-title {
      align-self: flex-start;
    }

    &-container {
      display: flex;
      flex-flow: row wrap;
    }

    &-item {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      min-width: 35%;

      &-active mat-icon {
        color: #69f0ae;
      }
    }

    &-link {
      display: inline-block;
      color: $text-color;
      text-decoration: none;

    }
  }
}

.rights {
  background: #000;
  color: #888;
  text-align: center;
  padding: 3px;
}

