<div class="footer-container">
<footer class="footer" id="footer">
  <div class="footer-info">
    <h3 class="footer-info-logo">
      ЛОГОТИП
    </h3>
    <div class="footer-info-description">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, omnis?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate deleniti et molestiae officia veniam voluptatibus.
      </p>
    </div>
    <div class="footer-info-contacts">
      <span>deluxe@gmail.com</span>
      <span>+380(99) 000 22 11</span>
    </div>
  </div>
  <div class="footer-popular">
    <h4 class="footer-popular-title">
      Популярне
    </h4>
    <div class="footer-popular-container">
      <div *ngFor="let link of popular"
           class="footer-popular-item"
           routerLinkActive="footer-popular-item-active"
           [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>play_arrow</mat-icon>
        <a class="footer-popular-link"
           [routerLink]="link.link"
        >
          {{link.name}}
        </a>
      </div>
    </div>
  </div>
  <div class="footer-social">
    <h4 class="footer-social-title">
      Соціалки в роботі...
    </h4>

  </div>
</footer>
<div class="rights">
  © copyright 2018 all rights reserved
</div>
</div>
