<div class="right-arrow" (click)="moveSlider('right')">
  <mat-icon>arrow_forward_ios</mat-icon>
</div>
<div class="left-arrow" (click)="moveSlider('left')">
  <mat-icon>arrow_back_ios</mat-icon>
</div>
<div class="container" (panleft)="moveSlider('left')" (panright)="moveSlider('right')">
  <div class="proposal-item"
       *ngFor="let element of elements"
       [ngStyle]="{'background-image':'url(../../assets/' + element.img + ')'}"
  >
    <div class="description">
      <span class="title">
        {{element.title}}
      </span>
      <span class="volume">
        {{element.volume}} мл
      </span>
      <span class="price">
        {{element.price}} грн
      </span>
    </div>

  </div>
</div>
