$items-height: 350px;

.container {
  height: 400px;
  position: relative;
}

.proposal-item {
  position: absolute;
  height: $items-height;
  width: 20%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  z-index: 0;
  transition: all 0.8s;
}
.left-arrow {
  left: 0;
}
.right-arrow {
  right: 0;
}
.left-arrow, .right-arrow {
  z-index: 2;
  position: absolute;
  height: $items-height;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,0.8);
  text-shadow: 0 0 1px #444;
  cursor: pointer;

  .material-icons {
    font-size: 40px;
  }
}

.description {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  color: #fff;
  text-shadow: 0 0 1px #222;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
  transform: translate(-50%, 50%);
  background: rgba(18, 17, 17, 0.75);
}

.title {
  font-size: 24px;
}

.volume {
  font-size: 14px;
  margin-top: -5px;
}

.price {
  font-size: 20px;
  margin-top: 7px;
}


@media screen and (max-width: 1365px) {
  .container {
    height: 350px;
  }

  .proposal-item {
    height: 310px;
  }

  .left-arrow, .right-arrow {
    height: 310px;
  }

}

@media screen and (max-width: 1023px) {
  .description {
    width: 85%;
  }

  .title {
    font-size: 20px;
  }

  .volume {
    font-size: 14px;
  }

  .price {
    font-size: 18px;
  }
}

@media screen and (max-width: 920px) {
  .container {
    margin: 0 -5%;
  }
}

@media screen and (max-width: 820px) {
  .proposal {
    padding: 50px 0 40px;
  }

  .container {
    height: 300px;
  }

  .left-arrow, .right-arrow {
    height: 270px;
  }

  .proposal-item {
    height: 270px;
  }
}

