$border: 1px solid grey;


.mat-dialog-actions {
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

.container {
  display: flex;
  background: url("/assets/home-page/proposal_bg.png");
  margin: auto;
  padding: 40px 0;
  min-height: 80vh;
}


.children {
  width: 100%;
}

.side-nav {
  height: 100%;
  border-right: $border;
  margin-right: 40px;

  &-item {
    font-size: 18px;
    color: #fff;
    border-bottom: $border;

    &:last-of-type {
      border-bottom: 0;
    }

    &-link {
      width: 160px;
      height: 47px;
      line-height: 47px;
      text-align: right;
      padding: 0 25px 0 40px;
      background: 0;
      &.mat-accent {
        background: #69f0ae;
      }
    }
  }
}





