<div class="container">
  <div class="side-nav">
    <div class="side-nav-item">
      <a
         class="side-nav-item-link"
         routerLinkActive="mat-accent"
         disabled
         [routerLinkActiveOptions]="{exact: true}"
         mat-raised-button>
        Статистика
      </a>
    </div>
    <div class="side-nav-item">
      <a routerLink="orders"
         class="side-nav-item-link"
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}"
         mat-raised-button>
        Замовлення
      </a>
    </div>
    <div class="side-nav-item">
      <a routerLink="commodity"
         class="side-nav-item-link"
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}"
         mat-raised-button>
        Товар
      </a>
    </div>
    <div class="side-nav-item">
      <a routerLink="type"
         class="side-nav-item-link"
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}"
         mat-raised-button>
        Тип
      </a>
    </div>
    <div class="side-nav-item">
      <a routerLink="subtype"
         class="side-nav-item-link"
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}"
         mat-raised-button>
        Підтип
      </a>
    </div>
    <div class="side-nav-item">
      <a routerLink="city"
         class="side-nav-item-link"
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}"
         mat-raised-button>
        Місто
      </a>
    </div>
    <div class="side-nav-item">
      <a routerLink="country"
         class="side-nav-item-link"
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}"
         mat-raised-button>
        Країна
      </a>
    </div>
    <div class="side-nav-item">
      <a routerLink="firm"
         class="side-nav-item-link"
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}"
         mat-raised-button>
        Виробник
      </a>
    </div>
  </div>
  <div class="children">
    <router-outlet></router-outlet>
  </div>
</div>

<style>
  app-footer {
    display: none;
  }
  .footer-container {
    display: none;
  }
</style>
