<h3 mat-dialog-title>Тип</h3>
<div mat-dialog-content>
  <form [formGroup]="createForm">
    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Назва" formControlName="name" required>
      <mat-error *ngIf="name.errors?.required">Введіть назву.</mat-error>
    </mat-form-field>
    <div class="maturity-toggle">
      <mat-slide-toggle formControlName="maturity">Витримка</mat-slide-toggle>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button matDialogClose>Скасувати</button>
  <div [matTooltipDisabled]="createForm.valid"
       matTooltip="заповніть всі поля">
    <button [disabled]="createForm.invalid"
            (click)="onCreateEntity()"
            mat-button>Створити</button>
  </div>
</div>

<style>
  .create-form-field {width: 100%;}
  .maturity-toggle {
    display: flex;
    align-items: center;
    height: 48px;
  }
</style>
