<div class="table-container">
  <mat-form-field>
    <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter()" placeholder="Фільтр" >
    <button mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear" (click)="filterValue='';updateData()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource"
         (matSortChange)="sortDataChange($event)"
         matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Назва </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="maturity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Витримка </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon>{{row.maturity ? 'add' : 'remove'}}</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <!--Дії-->
        <button (click)="createElement()"
                color="primary"
                mat-raised-button>Добавити</button>
      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button
                (click)="createElement(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button
                (click)="removeItem(row.id)">
          <mat-icon>remove</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator (page)="paginationChange($event)"
                 [pageSizeOptions]="[10, 25, 50]"
                 [length]="totalItems">
  </mat-paginator>
</div>
