<div [class.opened]="!filtersHidden" (panleft)="hideFilters()">
  <div class="filter-mobile-outfil" (click)="onFiltersClick()"></div>
  <div class="mobile-filters-bg"></div>
</div>
<div class="container" (panright)="showFilters()">
  <!--<div class="filters-container"-->
       <!--[class.close-animation]="screenWidth < 1024"-->
       <!--[class.open-animation]="!filtersHidden"-->
  <!--&gt;-->
  <div class="filters-container"
       [class.closed]="screenWidth < 1024"
       [class.opened]="!filtersHidden"
  >
    <div (click)="onFiltersClick()"
         class="filters-title filters-bottom-line">
      <mat-icon>tune</mat-icon>
      <span class="filter-name">Фільтрація</span>
    </div>
    <mat-accordion displayMode="flat"
                   multi="true"
    >
      <!--<button [hidden]="!filterForm.touched" mat-raised-button>Застосувати</button>-->
      <form [formGroup]="filterForm">
        <mat-expansion-panel hideToggle="true">
          <mat-expansion-panel-header>
            <div class="filter-title">
              <mat-icon>search</mat-icon>
              <span class="filter-name">Пошук</span>
            </div>
          </mat-expansion-panel-header>
          <mat-form-field color="accent">
            <input matInput placeholder="Введіть назву тут..." formControlName="search">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="filter-title">
              <mat-icon>swap_vert</mat-icon>
              <span class="filter-name">Сортувати</span>
            </div>
          </mat-expansion-panel-header>
          <mat-radio-group class="filter-options" (change)="onSortDirectionChange($event.value)" formControlName="sort">
            <!--<mat-radio-button class="filter-option"-->
                              <!--*ngFor="let sort of sorts"-->
                              <!--[value]="sort.sort"-->
            <!--&gt;А-Я</mat-radio-button>-->
            <mat-radio-button class="filter-option" [value]="{fieldName: 'name', direction: 'ASC'}" checked>А-Я</mat-radio-button>
            <mat-radio-button class="filter-option" [value]="{fieldName: 'name', direction: 'DESC'}">Я-А</mat-radio-button>
            <mat-radio-button class="filter-option" [value]="{fieldName: 'price', direction: 'ASC'}">Ціна від дешевих до дорогих</mat-radio-button>
            <mat-radio-button class="filter-option" [value]="{fieldName: 'price', direction: 'DESC'}">Ціна від дорогих до дешевих</mat-radio-button>
          </mat-radio-group>
        </mat-expansion-panel>

          <mat-expansion-panel  expanded="true">
            <mat-expansion-panel-header>
              <div class="filter-title">
                <mat-icon>card_membership</mat-icon>
                <span class="filter-name">Виробник</span>
              </div>
            </mat-expansion-panel-header>
          <div class="brand-list filter-options">
            <mat-checkbox class="filter-option"
                          (change)="onFirmClick($event.checked, $event.source.value)"
                          *ngFor="let firm of firms"
                          [value]="firm"
            >{{firm.name}}</mat-checkbox>
          </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <div class="filter-title">
                <mat-icon>account_balance_wallet</mat-icon>
                <span class="filter-name">Ціна</span>
              </div>
            </mat-expansion-panel-header>
            <div class="filter-range">
              <span>Від</span>
              <span class="filter-range-value">{{minPrice.value}} грн.</span>
            </div>
            <mat-slider class="filter-slider"
                        (change)="onFilterChange()"
                        formControlName="minPrice"
                        [max]="filter.MAX_PRICE"
            ></mat-slider>
            <div class="filter-range">
              <span>До</span>
              <span class="filter-range-value">{{maxPrice.value}} грн.</span>
            </div>
            <mat-slider class="filter-slider"
                        (change)="onFilterChange()"
                        formControlName="maxPrice"
                        [max]="filter.MAX_PRICE"
            ></mat-slider>
          </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="filter-title">
              <mat-icon>battery_unknown</mat-icon>
              <span class="filter-name">Об'єм</span>
            </div>
          </mat-expansion-panel-header>
          <div class="filter-range">
            <span>Від</span>
            <span class="filter-range-value">{{minVolume.value}} л.</span>
          </div>
          <mat-slider class="filter-slider"
                      (change)="onFilterChange()"
                      formControlName="minVolume"
                      step="0.2"
                      [max]="filter.MAX_VOLUME"
          ></mat-slider>
          <div class="filter-range">
            <span>До</span>
            <span class="filter-range-value">{{maxVolume.value}} л.</span>
          </div>
          <mat-slider class="filter-slider"
                      (change)="onFilterChange()"
                      formControlName="maxVolume"
                      step="0.2"
                      [max]="filter.MAX_VOLUME"
          ></mat-slider>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="filter-title">
              <mat-icon>flag</mat-icon>
              <span class="filter-name">Країна</span>
            </div>
          </mat-expansion-panel-header>
          <div class="brand-list filter-options">
            <mat-checkbox class="filter-option"
                          (change)="onCountryClick($event.checked, $event.source.value)"
                          *ngFor="let country of countries"
                          [value]="country"
            >{{country.name}}</mat-checkbox>
          </div>
        </mat-expansion-panel>
      </form>
    </mat-accordion>
    <div class="filter-reset">
      <button (click)="onResetForm()"
              [class.filter-reset-button]="filterForm.touched"
              mat-raised-button
              color="accent">Скинути</button>
    </div>
  </div>
  <div class="products-container">
    <mat-form-field class="pagination-page-size" color="accent" matTooltip="кількість товарів на сторінці">
      <mat-select value="12">
        <mat-option value="12">12</mat-option>
        <mat-option value="24">24</mat-option>
        <mat-option value="36">36</mat-option>
      </mat-select>
    </mat-form-field>

    <app-product [product]="product"
                 *ngFor="let product of products"
                 class="product"
    ></app-product>

    <app-pagination
      class="pagination"
      (pageChange)="onPageChange($event)"
      [pagination]="search.paginationRequest"
    ></app-pagination>
  </div>

</div>
