
$filters-border: 1px solid rgba(255,255,255,.2);

.container {
  display: flex;
  padding: 50px 100px;
  background: url("/assets/home-page/proposal_bg.png");
  color: #fff;
}

.filters-container {
  width: 400px;
  margin-right: 2%;
  border-right: $filters-border;


  .mat-expansion-panel {
    border-bottom: $filters-border;
    background: 0;
  }

  .filters-bottom-line {
    padding-bottom: 20px;
    border-bottom: $filters-border;
  }

  .filter-item, .filter-title, .filters-title {
    display: flex;
    align-items: center;
    font-size: 20px;
  }

  .filter-item {
    padding: 20px 0 15px;
    justify-content: space-between;
  }

  .filter-name {
    margin-left: 20px;
  }

  .filter-show-all-button {
    margin-right: 20px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 0;
    cursor: pointer;

    &:hover {
      background: rgba(255,255,255,.3);
    }
  }

  .filter-options {
    display: flex;
    flex-direction: column;
  }

  .filter-option {
    margin: 8px 0;
  }

  .filter-range {
    display: flex;
    justify-content: space-between;

    &-value {
      margin-right: 8%;
    }
  }

  .filter-slider {
    width: 80%;
    margin: 0 12% 0 8%;
  }

  .filter-reset {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    overflow: hidden;

    button {
      transition: all 0.3s ease-in-out;
      margin-top: -100px;
    }

    button.filter-reset-button {
      margin-top: 0;
    }
  }

}

.products-container {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}

.product {
  width: 23.4%;
  margin: 0 0.6% 1%;
  height: 450px;
}

.pagination {
  width: 100%;
}

.pagination-page-size {
  position: absolute;
  top: -56px;
  right: 1%;
  width: 40px;
  font-size: 14px;
}


@media screen and (max-width: 1450px) {
  .container {
    padding: 50px 80px;
  }

  .product {
    width: 31%;
    height: 370px;
    margin: 0 1% 1%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 50px 30px;
  }

  .product {
    height: 350px;
  }
}



.filter-mobile-outfil, .mobile-filters-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 2;
}

.mobile-filters-bg {
  background: url(/assets/home-page/footer_bg.png);
}

.closed {
  left: -500px;
}

.opened {
  left: 30px;

  .filters-title {
    margin-left: 0;
  }
}

.filters-title, .mobile-filters-bg, .filters-container {
  transition: all .5s ease-in-out;
}

@media screen and (max-width: 1023px) {
  .filters-container {
    position: absolute;
    z-index: 3;
    width: 340px;
    top: 80px;
  }

  .filters-title {
    margin-left: 540px;
  }

  .opened {
    .mobile-filters-bg {
      left: 0;
      width: 370px;
    }

    .filter-mobile-outfil {
      width: 100%;
      background: rgba(0,0,0,.5);
    }
  }
}

