.pagination {
  &-container {
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }

  &-controllers {
    min-width: 48px;
    margin: 0 2px;
  }

  &-page-size {
    position: absolute;
    top: -56px;
    right: 1%;
    width: 40px;
    font-size: 14px;
  }
}
