<div class="pagination-container">
  <button mat-stroked-button
          class="pagination-controllers"
          *ngFor="let page of pagesToShow"
          (click)="onPageClick(page.number)"
          [color]="page.selected && 'accent'">{{page.number}}</button>
</div>
