<nav>
  <div class="nav-container">
    <div class="nav-links">
      <h1 id="logo">Логотип</h1>
      <a routerLink="/"
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}"
         mat-button>
        Головна
      </a>
      <a routerLink="/catalog"
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}"
         mat-button>
        Каталог
      </a>
      <a (click)="scroll('proposals')" mat-button>
        Акції
      </a>
      <a (click)="scroll('footer')" mat-button>
        Контакти
      </a>
    </div>
    <div class="right-buttons">
      <app-cart></app-cart>
      <button class="log-in-button"
              mat-stroked-button
              color="accent"
              (click)="onLogInClick()"
      >Увійти</button>
    </div>
  </div>
  <!--<div class="subnav-container">-->
    <!--&lt;!&ndash;<mat-form-field>&ndash;&gt;-->
      <!--&lt;!&ndash;<input matInput color="accent" type="text" class="search">&ndash;&gt;-->
      <!--&lt;!&ndash;<input matInput color="primary" type="text" class="search">&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
    <!--<div class="basket-container">-->
                <!--<span class="basket-text">-->

                <!--</span>-->
    <!--</div>-->
  <!--</div>-->
</nav>
