
.nav-container {
  height: 66px;
  display: flex;
  color: #fff;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  background: #0b1013;
}
.nav-container a {
  color: #fff;
}

#logo {
  margin: 0 2vw;
  font-size: 24px;
}

.nav-links {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.nav-item {
  display: block;
  font-size: 14px;
  text-decoration: none;
  margin: 0 1vw;
}

.log-in-button {
  margin: 0 3vw;
  width: 7%;
}
.subnav-container {
  height: 36px;
  background: #e0e0e0;
}
