.product {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #f6f6f6;
  overflow: hidden;
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.2);

  &:hover {
    box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.6);
    .product-to-cart-button {
      margin: 11px 9%;
    }
  }

  &-img-container {
    position: relative;
    height: 70%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto 110%;
    background-position: center;
  }

  &-title {
    margin: 5px 0 0;
    font-size: 20px;
    text-transform: uppercase;
  }

  &-capacity {
    font-size: 14px;
    margin-top: -2px;
  }

  &-price {
    margin-top: 13px;
    font-size: 19px;
    &:after {
      content: 'грн';
    }
  }

  &-to-cart-button {
    height: 34px;
    line-height: 15px;
    margin: 11px 9% -38px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #69f0ae;
    border-radius: 20px;
    width: 82%;
    transition: margin .3s ease-in-out;
    cursor: pointer;
    z-index: 1;
  }

  &-info-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }

  &-info-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,.6);
    height: 100%;
    width: 100%;
    padding-top: 45px;
    transition: all .4s ease-in;

    &.hidden {
      left: -400px;
    }
  }
}

.info-item {
  margin: 5px;
  display: flex;
  padding: 5px 10px;
  $border: 1px solid grey;
  border-bottom: $border;

  &:last-of-type {
    border-bottom: 0;
  }

  &-title {
    min-width: 100px;
  }
}

