<div class="product"
     (mouseleave)="infoHidden = true">

  <div class="product-info-container" [class.hidden]="infoHidden">
    <div class="info-item" *ngFor="let property of productProperties">
      <span class="info-item-title">{{property.viewName}}</span>
      <span>{{product[property.name] + property.suffix}}</span>
    </div>
  </div>

  <button class="product-info-button"
          (click)="infoHidden = !infoHidden"
          mat-icon-button>
    <mat-icon>info</mat-icon>
  </button>

  <div class="product-img-container"
       [ngStyle]="{'background-image': 'url('+product.img+')'}"></div>
  <h4 class="product-title">
    {{product.name}}
  </h4>
  <div class="product-capacity">
    {{product.capacity}}ml
  </div>
  <div class="product-price">
    {{product.price}}
  </div>
  <button class="product-to-cart-button"
          (click)="addToCart(product)"
          mat-button>
    в корзину
  </button>
</div>
