<h3 mat-dialog-title>Замовлення</h3>
<form [formGroup]="orderForm">
  <div mat-dialog-content>

      <mat-form-field class="order-form-name" color="accent">
        <input matInput placeholder="Ім'я" formControlName="name" required>
        <mat-error *ngIf="name.errors?.required">Введіть ім'я.</mat-error>
      </mat-form-field>

      <mat-form-field class="order-form-surname" color="accent">
        <input matInput placeholder="Прізвище" formControlName="surname" required>
        <mat-error *ngIf="surname.errors?.required">Введіть прізвище.</mat-error>
      </mat-form-field>

      <mat-form-field class="order-form-phone-number" color="accent">
        <input matInput placeholder="Номер телефону" formControlName="phoneNumber" required>
        <mat-error *ngIf="phoneNumber.errors?.pattern">Телефон вказаний невірно.</mat-error>
        <mat-error *ngIf="phoneNumber.errors?.required">Введіть номер телефону.</mat-error>
      </mat-form-field>

      <mat-form-field class="order-form-email" color="accent">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="email.errors?.pattern">Email вказаний невірно.</mat-error>
        <mat-error *ngIf="email.errors?.required">Введіть email.</mat-error>
      </mat-form-field>

      <mat-form-field class="order-form-address" color="accent">
        <input matInput placeholder="Місце доставки" formControlName="address" required>
        <mat-error *ngIf="address.errors?.required">Вкажіть адресу для доставки</mat-error>
      </mat-form-field>

      <mat-form-field class="order-form-wish" color="accent">
        <input matInput placeholder="Коментар" formControlName="wish">
      </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Ні, дякую</button>
    <button mat-button (click)="onOrderClick()" [disabled]="orderForm.invalid">Замовити</button>
    <!--<button mat-button [mat-dialog-close]="data.animal">Замовити</button>-->
  </div>
</form>
