.table-container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10% 0 4%;
}

table {
  width: 100%;
}

mat-form-field {
  mat-icon, .mat-input-element {
    color: #fff;
  }
}

.product-image {
  height: 130px;
  position: absolute;
  transform: translate(0, -50%);
  transition: all .3s ease-in-out;

  &:hover {
    height: 60vh;
    transform: translate(-30px, -50%);
  }
  &:focus {
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-30px, -50%);
  }
}

.product-image-container {
  height: 133px;
  width: 68px;
}

//.description {
//  width: 23%;
//}
