<div class="table-container">
  <mat-form-field>
    <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event.target.value)" placeholder="Фільтр">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource"
         (matSortChange)="sortDataChange($event)"
         matSort>
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row" class="product-image-container">
        <img [src]="row.pathToImage || noImageFilePath" class="product-image">
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Назва </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="firm">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Виробник </th>
      <td mat-cell *matCellDef="let row"> {{row.firmName}} </td>
    </ng-container>

    <ng-container matColumnDef="subtype">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Підтип </th>
      <td mat-cell *matCellDef="let row"> {{row.subTypeName}} </td>
    </ng-container>

    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Об'єм </th>
      <td mat-cell *matCellDef="let row"> {{row.capacity}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="description"> Опис </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <ng-container matColumnDef="strength">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Міцність </th>
      <td mat-cell *matCellDef="let row"> {{row.strength}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ціна </th>
      <td mat-cell *matCellDef="let row"> {{row.price}} </td>
    </ng-container>

    <ng-container matColumnDef="maturity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Витримка </th>
      <td mat-cell *matCellDef="let row"> {{row.maturity}} </td>
    </ng-container>



    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <!--Дії-->
        <button (click)="createElement()"
                color="primary"
                mat-raised-button>Добавити</button>
      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button
                (click)="createElement(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button
                (click)="removeItem(row.id)">
          <mat-icon>remove</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator (page)="paginationChange($event)"
                 [pageSizeOptions]="[10, 25, 50]"
                 [length]="pageOptions.total">
  </mat-paginator>
</div>
