<h3 mat-dialog-title>Виробник</h3>
<div mat-dialog-content>
  <form [formGroup]="createForm">
    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Назва" formControlName="name" required>
      <mat-error *ngIf="name.errors?.required">Введіть назву.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent">
      <input (keyup)="firmChange()"
             formControlName="firm"
             [matAutocomplete]="autoFirm"
             matInput
             placeholder="Виробник"
             required>
      <mat-autocomplete #autoFirm="matAutocomplete" [displayWith]="autocompleateDisplay">
        <mat-option *ngFor="let firm of firms" [value]="firm">
          {{firm.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="firm.errors?.required">Виберіть виробника.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent">
      <input (keyup)="typeChange()"
             formControlName="type"
             [matAutocomplete]="autoType"
             matInput
             placeholder="Тип"
             required>
      <mat-autocomplete #autoType="matAutocomplete"
                        [displayWith]="autocompleateDisplay"
                        (optionSelected)="loadSubtypes($event.option.value.id)">
        <mat-option *ngFor="let type of types" [value]="type">
          {{type.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="type.errors?.required">Виберіть тип.</mat-error>
    </mat-form-field>

    <mat-form-field  class="create-form-field" color="accent">
      <input formControlName="subtype"
             [matAutocomplete]="autoSubtype"
             matInput
             placeholder="Підтип"
             required>
      <mat-autocomplete #autoSubtype="matAutocomplete" [displayWith]="autocompleateDisplay">
        <mat-option *ngFor="let subtype of subtypes" [value]="subtype">
          {{subtype.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="type.errors?.required">Виберіть підтип.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent">
      <input matInput type="number" placeholder="Об'єм (мл.)" formControlName="capacity" required>
      <mat-error *ngIf="capacity.errors?.required">Введіть об'єм.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Опис" formControlName="description" required>
      <mat-error *ngIf="description.errors?.required">Введіть опис.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent">
      <input matInput type="number" placeholder="Міцність" formControlName="strength" required>
      <mat-error *ngIf="strength.errors?.required">Введіть міцність.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent">
      <input matInput type="number" placeholder="Ціна" formControlName="price" required>
      <mat-error *ngIf="price.errors?.required">Введіть ціну.</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="showMaturity" class="create-form-field" color="accent">
      <input matInput type="number" placeholder="Витримка" formControlName="maturity" required>
      <mat-error *ngIf="maturity.errors?.required">Введіть витримку.</mat-error>
    </mat-form-field>


    <div class="select-image-container">
      <button mat-stroked-button (click)="$event.preventDefault();fileInput.click()">Вибрати фото</button>
      <div class="image"
           [ngStyle]="{'background-image':'url(' + imgSource + ')'}"
      ></div>
    </div>

    <input #fileInput (change)="photoSelected($event.target)" type="file" placeholder="Фото" hidden="true">
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button matDialogClose>Скасувати</button>
  <div [matTooltipDisabled]="createForm.valid"
       matTooltip="заповніть всі поля">
    <button [disabled]="createForm.invalid"
            (click)="onCreateEntity()"
            mat-button>Створити</button>
  </div>

</div>

