.create-form-field {
  width: 290px;
  margin: 0 10px
}

form {
  max-width: 620px
}

.select-image-container {
  display: flex;
  align-items: center;

  button {
    height: 36px;
    margin: 20px;
  }

  .image {
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
  }
}


