@import '~@angular/material/prebuilt-themes/purple-green.css';

body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  max-height: 60px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mat-paginator, .mat-table {
  background: none;
}

.mat-list .mat-list-item .mat-list-item-content {
  justify-content: space-around;
}

.mat-dialog-container, .mat-select-content {
  background: #222;
}


