header {
  position: relative;
  //background: #021000;
  width: 100vw;
  height: 56vmin;
  background-image: url('/assets/home-page/main-photo.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  background-position-y: -120px;
}

.header-banner {
  position: absolute;
  top: 3.5vh;
  right: 3vw;
  margin: 0;
  font-size: 44px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #333;
}

.info, .about-us {
  margin: 0 11%;
}

.info-container, .about-us-container {
  position: relative;
  background: #e6e6e6;
}

.info-container {
  padding: 6% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 1;
}

.info-left, .info-right {
  text-transform: uppercase;
  margin: 0;
}

.info-left {
  margin-left: 2%;
}

.info-right {
  margin-right: 2%;
}

.info-left-title, .info-right-title {
  font-size: 33px;
  margin: 0;
}

.info-left-title {
  margin-top: 24px;
}

.info-left-title, .info-left-description {
  padding: 0 5% 0 1%;
}

.info-right-title, .info-right-description {
  padding-left: 6%;
}

.info-left-img, .info-right-img {
  display: block;
  width: 100%;
}

.info-left-img {
  margin-left: -6%;
}

.info-right-img {
  margin-left: 6%;
}

.proposals {
  //background: #0b1013;
  background-image: url('/assets/home-page/proposal_bg.png');
  padding: 0 10% 60px;
}

.proposal {
  padding: 50px 0 60px;
}

.line {
  height: 2px;
  background: #ededed;
  background: -moz-linear-gradient(left, #ededed 0%, #ffffff 8%, #ffffff 40%, #ededed 50%, #ffffff 60%, #ffffff 92%, #ededed 100%);
  background: -webkit-linear-gradient(left, #ededed 0%,#ffffff 8%,#ffffff 40%,#ededed 50%,#ffffff 60%,#ffffff 92%,#ededed 100%);
  background: linear-gradient(to right, #ededed 0%,#ffffff 8%,#ffffff 40%,#ededed 50%,#ffffff 60%,#ffffff 92%,#ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed',GradientType=1 );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proposal-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  background: rgba(18, 17, 17, 0.9);
  padding: 0 4px;
  box-shadow: -30px 0 25px 10px rgba(18, 17, 17, 0.9), 30px 0 25px 10px rgba(18, 17, 17, 0.9);
}

.about-us {
  height: 640px;

  &-title {
    font-size: 20px;
    margin: 15px 0;
  }

  &-container {
    height: 100%;
  }

  &-img {
    position: absolute;
    top: 14%;
    left: 8%;
    height: 400px;
    width: 100%;
    background-color: #555;
    background-image: url('/assets/home-page/about-us-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }

  &-text-container {
    position: absolute;
    top: 24%;
    left: 4%;
    padding: 3%;
    background: #444;
    height: 330px;
    width: 50%;
    z-index: 2;
    color: #fff;
  }

  &-left-img {
    position: absolute;
    top: 270px;
    left: -5%;
    background-image: url('/assets/home-page/about-us-left.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 1365px) {
  .info-left-title, .info-right-title {
    font-size: 29px;
  }

  .proposal {
    padding: 50px 0;
  }

  .header-banner {
    font-size: 39px;
  }

}

@media screen and (max-width: 1023px) {
  .header-banner {
    font-size: 36px;
  }
}
