<header>
  <h2 class="header-banner">
    Lorem ipsum dolor.
  </h2>
</header>
<section class="info">
  <div class="info-container">
    <div class="info-left">
      <img src="../../assets/home-page/info-left.jpg" alt="" class="info-left-img">
      <h3 class="info-left-title">Швидка доставка</h3>
      <p class="info-left-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, corporis.</p>
      <div class="info-left-to-catalog-button">
        <button (click)="navigateToCatalog()" mat-stroked-button>Переглянути каталог</button>
      </div>

    </div>
    <div class="info-right">
      <h3 class="info-right-title">Висока якість, низька ціна</h3>
      <p class="info-right-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, eos.</p>
      <img src="../../assets/home-page/info-right.jpg" alt="" class="info-right-img">
    </div>
  </div>
  <!--<div class="info-background">-->
  <!--</div>-->
</section>

<section class="proposals" id="proposals">
  <div class="proposal">
    <div class="line">
      <span class="proposal-title">Акції</span>
    </div>
  </div>
  <app-carousel [elements]="proposals"></app-carousel>
</section>

<section class="about-us">
  <div class="about-us-container">
    <div class="about-us-img"></div>
    <div class="about-us-left-img"></div>
    <div class="about-us-text-container">
      <h4 class="about-us-title">
        Про нас
      </h4>
      <p class="about-us-desctiption">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque autem consequatur corporis cumque cupiditate debitis deleniti deserunt dignissimos dolorum ducimus eaque error et excepturi fugit illum impedit inventore ipsa laboriosam magni necessitatibus nemo nisi nobis omnis placeat possimus quibusdam quidem ratione reprehenderit repudiandae, saepe sed similique suscipit totam unde voluptates voluptatum. Autem, cupiditate harum molestiae nostrum obcaecati temporibus totam?
      </p>
      <p class="about-us-desctiption">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, iste voluptatem. Blanditiis delectus ea eligendi odit optio repellendus sed unde, voluptatum? Excepturi id labore obcaecati odit optio placeat possimus velit.
      </p>
    </div>
  </div>
</section>
