.table-container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10% 0 4%;
}

table {
  width: 100%;
}

.cdk-column-id {
  min-width: 55px;
}

mat-form-field {
  mat-icon, .mat-input-element {
    color: #fff;
  }
}

