<h3 mat-dialog-title>Місто</h3>
<div mat-dialog-content>
  <form [formGroup]="createForm">
    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Назва" formControlName="name" required>
      <mat-error *ngIf="name.errors?.required">Введіть назву.</mat-error>
    </mat-form-field>
    <mat-form-field class="create-form-field" color="accent">
      <input (keyup)="countryChange()"
             formControlName="country"
             [matAutocomplete]="auto"
             matInput
             placeholder="Країна"
             required>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="autocompleateDisplay">
        <mat-option *ngFor="let country of countries" [value]="country">
          {{country.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="country.errors?.required">Виберіть країну.</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button matDialogClose>Скасувати</button>
  <div [matTooltipDisabled]="createForm.valid"
       matTooltip="заповніть всі поля">
    <button [disabled]="createForm.invalid"
            (click)="onCreateEntity()"
            mat-button>Створити</button>
  </div>

</div>

<style>.create-form-field {width: 100%;}</style>
